# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è: –í–Ω–µ—Å–µ–Ω–Ω—è –æ–Ω–æ–≤–ª–µ–Ω—å –≤ –ë–î —ñ —Ä–æ–±–æ—Ç–∞ –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è–º–∏

–¶–µ –î–ó –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–µ –ø—ñ–¥ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è –Ω–∞ –ª–æ–∫–∞–ª—å–Ω—ñ–π –º–∞—à–∏–Ω—ñ. –í–∏–∫–æ–Ω–∞–Ω–Ω—è –∑ Google Colab –±—É–¥–µ —Å—É—Ç—Ç—î–≤–æ —É—Å–∫–ª–∞–¥–Ω–µ–Ω–µ.

## –ü—ñ–¥–≥–æ—Ç–æ–≤–∫–∞
1. –ü–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ —É –≤–∞—Å –≤—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω—ã –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. –°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ–∞–π–ª `.env` –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö classicmodels. –ë–∞–∑—É –¥–∞–Ω–∏—Ö –≤–∏ –º–æ–∂–µ—Ç–µ –æ—Ç—Ä–∏–º–∞—Ç–∏ —á–µ—Ä–µ–∑

  - docker-–∫–æ–Ω—Ç–µ–π–Ω–µ—Ä –∑–≥—ñ–¥–Ω–æ —ñ—Å–Ω—Ç—Ä—É–∫—Ü—ñ—ó –≤ [–¥–æ–∫—É–º–µ–Ω—Ç—ñ](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), —Ç–∞–∫–æ–∂ –≤—ñ–¥–µ–æ —ñ–Ω—Å—Ç—Ä—É–∫—Ü—ñ—ó –ø—Ä–∏—Å—É—Ç–Ω—ñ –Ω–∞ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ñ - —É—Ä–æ–∫–∏ "MySQL –±–∞–∑–∏, –∫–ª—ñ—î–Ω—Ç –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î, Docker —ñ ChatGPT –¥–ª—è –∑–∞–ø–∏—Ç—ñ–≤" —Ç–∞ "–Ø–∫ –≤—Å—Ç–∞–Ω–æ–≤–∏—Ç–∏ Docker –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –±–∞–∑–∞–º–∏ –¥–∞–Ω–∏—Ö –±–µ–∑ —Ç–µ—Ä–º—ñ–Ω–∞–ª—É"
  - –∞–±–æ –≤—Å—Ç–∞–Ω–æ–≤–∏–≤—à–∏ –ª–æ–∫–∞–ª—å–Ω–æ —Ü—é –ë–î - –¥–ª—è —Ü—å–æ–≥–æ –ø–µ—Ä–µ–≥–ª—è–Ω—å—Ç–µ —É—Ä–æ–∫ "–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ. –í—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω—è MySQL —Ç–∞  –ë–î –°lassicmodels –ª–æ–∫–∞–ª—å–Ω–æ".
  
  –ü—Ä–∏–∫–ª–∞–¥ `.env` —Ñ–∞–π–ª—É –º–∏ —Å—Ç–≤–æ—Ä—é–≤–∞–ª–∏ –≤ –ª–µ–∫—Ü—ñ—ó. –û—Å—å –π–æ–≥–æ –æ–±–æ–≤ º—è–∑–∫–æ–≤–µ –Ω–∞–ø–æ–≤–Ω–µ–Ω–Ω—è:
    ```
    DB_HOST=your_host
    DB_PORT=3306 –∞–±–æ 3307 - —Ç–æ–π, —è–∫–∏–π –í–∏ –Ω–∞–ª–∞—à—Ç—É–≤–∞–ª–∏
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  –Ø–∫—â–æ –≤–∏ —Å—Ç–≤–æ—Ä–∏–ª–∏ —Ü–µ–π —Ñ–∞–π–ª –ø—ñ–¥ —á–∞—Å –ø–µ—Ä–µ–≥–ª—è–¥—É –ª–µ–∫—Ü—ñ—ó - **–Ω–æ–≤–∏–π —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –Ω–µ —Ç—Ä–µ–±–∞**. –ó–∞–º—ñ–Ω—ñ—Ç—å –ª–∏—à–µ –Ω–∞–∑–≤—É –ë–î, –∞–±–æ –ø—Ä–æ–ø–∏—à—ñ—Ç—å –Ω–∞–∑–≤—É –≤ –∫–æ–¥—ñ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è (–∑–∞–º—ñ—Å—Ç—å –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–∞–∑–≤–∏ —Ü—ñ–ª—å–æ–≤–æ—ó –ë–î –∑—ñ –∑–º—ñ–Ω–Ω–∏—Ö –æ—Ç–æ—á–µ–Ω–Ω—è). –ê–ª–µ –ø–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ –¥–æ `.env` —Ñ–∞–π–ª –ª–µ–∂–∏—Ç—å –≤ —Ç—ñ–π —Å–∞–º—ñ–π –ø–∞–ø—Ü—ñ, —â–æ —ñ —Ü–µ–π –Ω–æ—É—Ç–±—É–∫.

  **–£–í–ê–ì–ê!** –ù–ï –∫–æ–ø—ñ—é–π—Ç–µ —Å–∫—Ä–∏—Ç –¥–ª—è **—Å—Ç–≤–æ—Ä–µ–Ω–Ω—è** `.env` —Ñ–∞–π–ª—É. –í –ª–µ–∫—Ü—ñ—ó –≤—ñ–Ω –Ω–∞–≤–æ–¥–∏—Ç—å—Å—è –¥–ª—è –ø—Ä–∏–∫–ª–∞–¥—É. –Ü –¥–∞–≤–∞–ª–æ—Å—å –ø–æ—è—Å–Ω–µ–Ω–Ω—è, —â–æ –≤ —Ä–µ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ—î–∫—Ç–∞—Ö –º–∏ –ù–Ü–ö–û–õ–ò –Ω–µ –ø–∏—à–µ–º–æ –¥–æ—Å—Ç—É–ø–∏ –¥–æ –±–∞–∑–∏ –≤ –∫–æ–¥—ñ. –ö–æ–ø—ñ—é–≤–∞–Ω–Ω—è —Å–∫—Ä–∏–ø—Ç–∞ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è `.env` —Ñ–∞–π–ª—É —Å—é–¥–∏ –≤ –î–ó –±—É–¥–µ –≤–≤–∞–∂–∞—Ç–∏—Å—å –≥—Ä—É–±–æ—é –ø–æ–º–∏–ª–∫–æ—é —ñ –º–∏ –∑–Ω—ñ–º–∞—Ç–∏–º–µ–º–æ –±–∞–ª–∏.

3. –ù–∞–ª–∞—à—Ç—É–π—Ç–µ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy –¥–æ –ë–î –∑–∞ –ø—Ä–∏–∫–ª–∞–¥–æ–º –≤ –ª–µ–∫—Ü—ñ—ó.

–†–µ–∫–æ–º–µ–Ω–¥—É—é –≤–∏–≤–µ—Å—Ç–∏ (–≤—ñ–¥–æ–±—Ä–∞–∑–∏—Ç–∏) –∑–º—ñ–Ω–Ω—É engine –ø—ñ—Å–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è. –í–æ–Ω–∞ –º–∞—î –±—É—Ç–∏ –Ω–µ None! –Ø–∫—â–æ None - –∑–Ω–∞—á–∏—Ç—å —É –í–∞—Å –Ω–µ –ø—ñ–¥—Ç—è–≥–Ω—É–ª–∏—Å—å –Ω–∞–ª–∞—à—Ç—É–≤–∞–Ω–Ω—è –∑ .env —Ñ–∞–π–ª–∞.

–í–∏ —Ç–∞–∫–æ–∂ –º–æ–∂–µ—Ç–µ –Ω–∞–ª–∞—à—Ç—É–≤–∞—Ç–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î –±–µ–∑ .env —Ñ–∞–π–ª–∞, –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ–ø–∏—Å–∞–≤—à–∏ —Ç–µ–∫—Å—Ç–æ–º –≤ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏—Ö –º—ñ—Å—Ü—è—Ö. –¶–µ - –Ω–µ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–∏–π –ø—ñ–¥—Ö—ñ–¥.


## –ó–∞–≤–¥–∞–Ω–Ω—è

### –ó–∞–≤–¥–∞–Ω–Ω—è 1: –û–Ω–æ–≤–ª–µ–Ω–Ω—è —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –ø—Ä–æ –∫–ª—ñ—î–Ω—Ç–∞ (2 –±–∞–ª–∏)

**–°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∫–ª—ñ—î–Ω—Ç–∞** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –º–æ–∂–ª–∏–≤–æ—Å—Ç—è–º–∏:
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è —Ç–µ–ª–µ—Ñ–æ–Ω—É –∫–ª—ñ—î–Ω—Ç–∞
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è email (—è–∫—â–æ –ø–æ–ª–µ —ñ—Å–Ω—É—î)
- –õ–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω –≤ –æ–∫—Ä–µ–º—É —Ç–∞–±–ª–∏—Ü—é

–í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –ø—ñ–¥—Ö—ñ–¥ –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–∏–º–∏ –∑–∞–ø–∏—Ç–∞–º–∏ —á–µ—Ä–µ–∑ `text()` —Ç–∞ `UPDATE` –æ–ø–µ—Ä–∞—Ç–æ—Ä.

–ó–∞–ø—É—Å—Ç—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —ó—ó —Ä–æ–±–æ—Ç—É, –∑–∞–ø—É—Å—Ç–∏–≤—à–∏ SELECT, —è–∫–∏–π –¥–æ–ø–æ–º–æ–∂–µ —Ü–µ –∑—Ä–æ–±–∏—Ç–∏.

In [1]:
# –í—Å—Ç–∞–Ω–æ–≤–ª—é—î–º–æ —Å—É—á–∞—Å–Ω–∏–π —Å—Ç–µ–∫ –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î
!pip install sqlalchemy pymysql openpyxl requests python-dotenv --quiet

In [2]:
import datetime
import requests
import json
import os

from dotenv import load_dotenv
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table
from sqlalchemy.orm import sessionmaker

In [3]:
def create_connection():
    """
    –°—Ç–≤–æ—Ä—é—î –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy
    """
    # –ó–∞–≤–∞–Ω—Ç–∞–∂—É—î–º–æ –∑–º—ñ–Ω–Ω—ñ —Å–µ—Ä–µ–¥–æ–≤–∏—â–∞
    load_dotenv()

    # –û—Ç—Ä–∏–º—É—î–º–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –∑ environment variables
    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    if not all([user, password, database]):
        raise ValueError("–ù–µ –≤—Å—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ë–î –∑–∞–¥–∞–Ω—ñ –≤ .env —Ñ–∞–π–ª—ñ!")

    # –°—Ç–≤–æ—Ä—é—î–º–æ connection string
    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    # –°—Ç–≤–æ—Ä—é—î–º–æ engine –∑ connection pooling
    engine = create_engine(
        connection_string,
        pool_size=2,           # –†–æ–∑–º—ñ—Ä –ø—É–ª—É –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        max_overflow=20,        # –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        pool_pre_ping=True,     # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –ø–µ—Ä–µ–¥ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º
        echo=False              # –õ–æ–≥—É–≤–∞–Ω–Ω—è SQL –∑–∞–ø–∏—Ç—ñ–≤ (True –¥–ª—è debug)
    )

    # –¢–µ—Å—Ç—É—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()

        print("‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!")
        print(f"üîó {user}@{host}:{port}/{database}")
        print(f"‚ö° Engine: {engine}")

        return engine

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è: {e}")
        return None

# –°—Ç–≤–æ—Ä—é—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
engine = create_connection()

‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!
üîó root@127.0.0.1:3306/classicmodels
‚ö° Engine: Engine(mysql+pymysql://root:***@127.0.0.1:3306/classicmodels)

In [ ]:

def update_customer_contact(engine, customer_number, new_phone, new_email):
    """
    –û–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∫–ª—ñ—î–Ω—Ç–∞ –∑ –ª–æ–≥—É–≤–∞–Ω–Ω—è–º –∑–º—ñ–Ω.
    """

    #  –ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ, —á–∏ —ñ—Å–Ω—É—î –∫–ª—ñ—î–Ω—Ç
    check_query = text("""
        SELECT customerName, phone
        FROM customers
        WHERE customerNumber = :cust_no
    """)

    with engine.connect() as conn:
        result = conn.execute(check_query, {'cust_no': customer_number})
        customer = result.fetchone()

        if not customer:
            print(f"‚ùå –ö–ª—ñ—î–Ω—Ç {customer_number} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–∏–π")
            return False

        name = customer[0]
        old_phone = customer[1]
        print(f"üë§ –û–Ω–æ–≤–ª—é—î–º–æ –¥–∞–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∞ {name} (ID: {customer_number})")

    
    with engine.connect() as conn:
        with conn.begin():
            try:
                today = datetime.datetime.now()

                # –û–Ω–æ–≤–ª—é—î–º–æ —Ç–µ–ª–µ—Ñ–æ–Ω, —è–∫—â–æ –ø–µ—Ä–µ–¥–∞–Ω–∏–π –Ω–æ–≤–∏–π
                if new_phone:
                    update_phone_query = text("""
                        UPDATE customers
                        SET phone = :phone
                        WHERE customerNumber = :cust_no
                    """)
                    conn.execute(update_phone_query, {'phone': new_phone, 'cust_no': customer_number})
                    print(f"üìû –¢–µ–ª–µ—Ñ–æ–Ω –æ–Ω–æ–≤–ª–µ–Ω–æ: {old_phone} ‚Üí {new_phone}")

                # –û–Ω–æ–≤–ª—é—î–º–æ email, —è–∫—â–æ –∫–æ–ª–æ–Ω–∫–∞ —ñ—Å–Ω—É—î —Ç–∞ –ø–µ—Ä–µ–¥–∞–Ω–µ –∑–Ω–∞—á–µ–Ω–Ω—è
                if new_email:
                    # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ –∫–æ–ª–æ–Ω–∫–∏ email
                    check_email_col = text("""
                        SELECT column_name
                        FROM information_schema.columns
                        WHERE table_name='customers' AND column_name='email'
                    """)
                    res = conn.execute(check_email_col).fetchone()
                    if res:
                        update_email_query = text("""
                            UPDATE customers
                            SET email = :email
                            WHERE customerNumber = :cust_no
                        """)
                        conn.execute(update_email_query, {'email': new_email, 'cust_no': customer_number})
                        print(f"üìß Email –æ–Ω–æ–≤–ª–µ–Ω–æ: {new_email}")
                    else:
                        print("‚ö†Ô∏è –ü–æ–ª–µ email –≤—ñ–¥—Å—É—Ç–Ω—î —É —Ç–∞–±–ª–∏—Ü—ñ, –ø—Ä–æ–ø—É—Å–∫–∞—î–º–æ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è.")

                print("‚úÖ –û–Ω–æ–≤–ª–µ–Ω–Ω—è —É—Å–ø—ñ—à–Ω–æ –≤–∏–∫–æ–Ω–∞–Ω–æ!")
                print(f" –∑–º—ñ–Ω–∏ ({today}): –∫–ª—ñ—î–Ω—Ç {name}, ID {customer_number}")

                return True

            except Exception as e:
                print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ –æ–Ω–æ–≤–ª–µ–Ω–Ω—ñ: {e}")
                print("üîÑ –ó–º—ñ–Ω–∏ —Å–∫–∞—Å–æ–≤–∞–Ω–æ (ROLLBACK)")
                return False


# –¢–µ—Å—Ç
cust_id = 103
update_customer_contact(engine, cust_id, new_phone="789 - 15 - 153", new_email="test@example.com")

üë§ –û–Ω–æ–≤–ª—é—î–º–æ –¥–∞–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∞ Atelier graphique (ID: 103)
üìû –¢–µ–ª–µ—Ñ–æ–Ω –æ–Ω–æ–≤–ª–µ–Ω–æ: 789 - 123 - 15 ‚Üí 789 - 15 - 153
‚ö†Ô∏è –ü–æ–ª–µ email –≤—ñ–¥—Å—É—Ç–Ω—î —É —Ç–∞–±–ª–∏—Ü—ñ, –ø—Ä–æ–ø—É—Å–∫–∞—î–º–æ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è.
‚úÖ –û–Ω–æ–≤–ª–µ–Ω–Ω—è —É—Å–ø—ñ—à–Ω–æ –≤–∏–∫–æ–Ω–∞–Ω–æ!
 –∑–º—ñ–Ω–∏ (2025-08-15 14:46:42.269816): –∫–ª—ñ—î–Ω—Ç Atelier graphique, ID 103

True

### –ó–∞–≤–¥–∞–Ω–Ω—è 2: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—î—é (5 –±–∞–ª—ñ–≤)

**–†–µ–∞–ª—ñ–∑—É–π—Ç–µ –ø—Ä–æ—Ü–µ—Å —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –∫—Ä–æ–∫–∞–º–∏ –≤ –æ–¥–Ω—ñ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó:
- –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—ñ `orders`
- –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π –≤ `orderdetails`
- –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
- –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ

–ó–∞–ø—É—Å—Ç—ñ—Ç—å –ø—Ä–æ—Ü–µ—Å –∑ —Ç–µ—Å—Ç–æ–≤–∏–º–∏ –¥–∞–Ω–∏–º–∏ —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —á–µ—Ä–µ–∑ SELECT, —â–æ –ø—Ä–æ—Ü–µ—Å —É—Å–ø—ñ—à–Ω–æ –≤—ñ–¥–ø—Ä–∞—Ü—é–≤–∞–≤ —ñ –±—É–ª–∏ –≤–∏–∫–æ–Ω–∞–Ω—ñ –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –æ–ø–µ—Ä–∞—Ü—ñ—ó.

In [ ]:

def create_order_with_items(engine, customer_number, product_code, count_guantity, price_each, order_line_number):
    """
    –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑ –¥–æ–¥–∞–≤–∞–Ω–Ω—è–º —Ç–æ–≤–∞—Ä—ñ–≤ —ñ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è–º —Å–∫–ª–∞–¥—É
    """

    today = datetime.date.today()

    # 1. –°—Ç–≤–æ—Ä—é—î–º–æ –Ω–æ–≤–∏–π orderNumber
    get_max_order_query = text("SELECT MAX(orderNumber) FROM orders")
    with engine.connect() as conn:
        max_order = conn.execute(get_max_order_query).scalar()
        new_order_number = (max_order or 0) + 1

    print(f"üÜï –°—Ç–≤–æ—Ä—é—î–º–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è #{new_order_number} –¥–ª—è –∫–ª—ñ—î–Ω—Ç–∞ {customer_number}")

    # 2. –ü–æ—á–∏–Ω–∞—î–º–æ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—é
    with engine.connect() as conn:
        with conn.begin():
            try:
                #  –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –∫–ª—ñ—î–Ω—Ç–∞
                check_customer_query = text("""
                    SELECT COUNT(*) 
                    FROM customers 
                    WHERE customerNumber = :cust
                """)
                customer_exists = conn.execute(check_customer_query, {"cust": customer_number}).scalar()

                if not customer_exists:
                    print(f"‚ùå –ö–ª—ñ—î–Ω—Ç {customer_number} –Ω–µ —ñ—Å–Ω—É—î –≤ —Ç–∞–±–ª–∏—Ü—ñ customers")
                    return False
                
                 #  –ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ —Ç–æ–≤–∞—Ä –Ω–∞ —Å–∫–ª–∞–¥—ñ –ü–ï–†–ï–î –≤—Å—Ç–∞–≤–∫–æ—é –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è
                check_stock_query = text("""
                    SELECT quantityInStock 
                    FROM products 
                    WHERE productCode = :productCode
                """)
                stock = conn.execute(check_stock_query, {"productCode": product_code}).scalar()

                if stock is None:
                    raise ValueError(f"‚ùå –¢–æ–≤–∞—Ä {product_code} –Ω–µ —ñ—Å–Ω—É—î –≤ —Ç–∞–±–ª–∏—Ü—ñ products")
                if stock < count_guantity:
                    raise ValueError(f"‚ùå –ù–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É {product_code}. –Ñ –ª–∏—à–µ {stock}, –ø–æ—Ç—Ä—ñ–±–Ω–æ {count_guantity}")
                
                #  –î–æ–¥–∞—î–º–æ –∑–∞–ø–∏—Å —É orders
                insert_order_query = text("""
                    INSERT INTO orders (
                        orderNumber, orderDate, requiredDate, shippedDate, status, comments, customerNumber
                    )
                    VALUES (:orderNumber, :orderDate, :requiredDate, NULL, 'In Process', 'Test order', :customerNumber)
                """)
                conn.execute(insert_order_query, {
                    'orderNumber': new_order_number,
                    'orderDate': today,
                    'requiredDate': today,
                    'customerNumber': customer_number
                })
                print("‚úÖ –ó–∞–ø–∏—Å —É orders —Å—Ç–≤–æ—Ä–µ–Ω–æ")

                #  –î–æ–¥–∞—î–º–æ —É orderdetails
                insert_detail_query = text("""
                    INSERT INTO orderdetails (
                        orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber
                    )
                    VALUES (:orderNumber, :productCode, :quantityOrdered, :priceEach, :orderLineNumber)
                """)
                conn.execute(insert_detail_query, {
                    'orderNumber': new_order_number,
                    'productCode': product_code,
                    'quantityOrdered': count_guantity,
                    'priceEach': price_each,
                    'orderLineNumber': order_line_number
                })
                print("‚úÖ –ó–∞–ø–∏—Å —É orderdetails —Å—Ç–≤–æ—Ä–µ–Ω–æ")

                #  –û–Ω–æ–≤–ª—é—î–º–æ —Å–∫–ª–∞–¥
                update_stock_query = text("""
                    UPDATE products
                    SET quantityInStock = quantityInStock - :qty
                    WHERE productCode = :productCode
                """)
                conn.execute(update_stock_query, {"qty": count_guantity, "productCode": product_code})
                print(f"‚úÖ –°–∫–ª–∞–¥ –æ–Ω–æ–≤–ª–µ–Ω–æ: {product_code} –∑–º–µ–Ω—à–µ–Ω–æ –Ω–∞ {count_guantity}")

                print("üéâ –£—Å–ø—ñ—Ö! –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è –ø–æ–≤–Ω—ñ—Å—Ç—é —Å—Ç–≤–æ—Ä–µ–Ω–µ")
                return True

            except Exception as e:
                print(f"‚ö†Ô∏è –ü–æ–º–∏–ª–∫–∞: {e}")
                print("üîÑ –ó–º—ñ–Ω–∏ —Å–∫–∞—Å–æ–≤–∞–Ω–æ (ROLLBACK)")
                return False

In [11]:
success = create_order_with_items(
    engine,
    customer_number=141,
    product_code="S24_3969",
    count_guantity =25,
    price_each=51.0,
    order_line_number=1
)
print("–†–µ–∑—É–ª—å—Ç–∞—Ç:", "–£—Å–ø—ñ—Ö ‚úÖ" if success else "–ü–æ–º–∏–ª–∫–∞ ‚ùå")

üÜï –°—Ç–≤–æ—Ä—é—î–º–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è #10433 –¥–ª—è –∫–ª—ñ—î–Ω—Ç–∞ 141
‚úÖ –ó–∞–ø–∏—Å —É orders —Å—Ç–≤–æ—Ä–µ–Ω–æ
‚úÖ –ó–∞–ø–∏—Å —É orderdetails —Å—Ç–≤–æ—Ä–µ–Ω–æ
‚úÖ –°–∫–ª–∞–¥ –æ–Ω–æ–≤–ª–µ–Ω–æ: S24_3969 –∑–º–µ–Ω—à–µ–Ω–æ –Ω–∞ 25
üéâ –£—Å–ø—ñ—Ö! –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è –ø–æ–≤–Ω—ñ—Å—Ç—é —Å—Ç–≤–æ—Ä–µ–Ω–µ
–†–µ–∑—É–ª—å—Ç–∞—Ç: –£—Å–ø—ñ—Ö ‚úÖ

In [12]:
success = create_order_with_items(
    engine,
    customer_number=103,
    product_code="S10_1677",
    count_guantity =25,
    price_each=51.0,
    order_line_number=1
)
print("–†–µ–∑—É–ª—å—Ç–∞—Ç:", "–£—Å–ø—ñ—Ö ‚úÖ" if success else "–ü–æ–º–∏–ª–∫–∞ ‚ùå")

üÜï –°—Ç–≤–æ—Ä—é—î–º–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è #10434 –¥–ª—è –∫–ª—ñ—î–Ω—Ç–∞ 103
‚ö†Ô∏è –ü–æ–º–∏–ª–∫–∞: ‚ùå –¢–æ–≤–∞—Ä S10_1677 –Ω–µ —ñ—Å–Ω—É—î –≤ —Ç–∞–±–ª–∏—Ü—ñ products
üîÑ –ó–º—ñ–Ω–∏ —Å–∫–∞—Å–æ–≤–∞–Ω–æ (ROLLBACK)
–†–µ–∑—É–ª—å—Ç–∞—Ç: –ü–æ–º–∏–ª–∫–∞ ‚ùå

In [13]:
success = create_order_with_items(
    engine,
    customer_number=102,
    product_code="S12_1099",
    count_guantity =25,
    price_each=51.0,
    order_line_number=1
)
print("–†–µ–∑—É–ª—å—Ç–∞—Ç:", "–£—Å–ø—ñ—Ö ‚úÖ" if success else "–ü–æ–º–∏–ª–∫–∞ ‚ùå")

üÜï –°—Ç–≤–æ—Ä—é—î–º–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è #10434 –¥–ª—è –∫–ª—ñ—î–Ω—Ç–∞ 102
‚ùå –ö–ª—ñ—î–Ω—Ç 102 –Ω–µ —ñ—Å–Ω—É—î –≤ —Ç–∞–±–ª–∏—Ü—ñ customers
–†–µ–∑—É–ª—å—Ç–∞—Ç: –ü–æ–º–∏–ª–∫–∞ ‚ùå

In [15]:
success = create_order_with_items(
    engine,
    customer_number=124,
    product_code="S12_1099",
    count_guantity =11,
    price_each=46.0,
    order_line_number=12
)
print("–†–µ–∑—É–ª—å—Ç–∞—Ç:", "–£—Å–ø—ñ—Ö ‚úÖ" if success else "–ü–æ–º–∏–ª–∫–∞ ‚ùå")

üÜï –°—Ç–≤–æ—Ä—é—î–º–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è #10434 –¥–ª—è –∫–ª—ñ—î–Ω—Ç–∞ 124
‚úÖ –ó–∞–ø–∏—Å —É orders —Å—Ç–≤–æ—Ä–µ–Ω–æ
‚úÖ –ó–∞–ø–∏—Å —É orderdetails —Å—Ç–≤–æ—Ä–µ–Ω–æ
‚úÖ –°–∫–ª–∞–¥ –æ–Ω–æ–≤–ª–µ–Ω–æ: S12_1099 –∑–º–µ–Ω—à–µ–Ω–æ –Ω–∞ 11
üéâ –£—Å–ø—ñ—Ö! –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è –ø–æ–≤–Ω—ñ—Å—Ç—é —Å—Ç–≤–æ—Ä–µ–Ω–µ
–†–µ–∑—É–ª—å—Ç–∞—Ç: –£—Å–ø—ñ—Ö ‚úÖ

In [17]:
# --- –ü–æ—Ç–æ—á–Ω–∏–π —Å—Ç–∞–Ω –æ—Å—Ç–∞–Ω–Ω—å–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è ---
check_result_query = text("""
    SELECT 
        o.orderNumber,
        o.orderDate,
        o.status,
        od.productCode,
        od.quantityOrdered,
        od.priceEach,
        p.productName,
        p.quantityInStock
    FROM orders o
    JOIN orderdetails od ON o.orderNumber = od.orderNumber
    JOIN products p ON od.productCode = p.productCode
    WHERE o.orderNumber = (
        SELECT MAX(orderNumber) 
        FROM orders 
        WHERE customerNumber = :customer_number
    )
""")

df_result = pd.read_sql(
    check_result_query,
    engine,
    params={'customer_number': 124}
)

print("üìù –ü–æ—Ç–æ—á–Ω–∏–π —Å—Ç–∞–Ω –æ—Å—Ç–∞–Ω–Ω—å–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç–∞:")
display(df_result)


# --- –Ü—Å—Ç–æ—Ä—ñ—è –∑–∞–º–æ–≤–ª–µ–Ω—å –∫–ª—ñ—î–Ω—Ç–∞ ---
history_query = text("""
    SELECT 
        o.orderNumber,
        o.orderDate,
        od.productCode,
        od.quantityOrdered,
        od.priceEach
    FROM orders o
    JOIN orderdetails od ON o.orderNumber = od.orderNumber
    WHERE o.customerNumber = :customer_number
    ORDER BY o.orderDate DESC, o.orderNumber DESC
    LIMIT 6
""")

df_history = pd.read_sql(
    history_query,
    engine,
    params={'customer_number': 124}
)

print("\nüìà –Ü—Å—Ç–æ—Ä—ñ—è –æ—Å—Ç–∞–Ω–Ω—ñ—Ö –∑–∞–º–æ–≤–ª–µ–Ω—å –∫–ª—ñ—î–Ω—Ç–∞:")
display(df_history)

üìù –ü–æ—Ç–æ—á–Ω–∏–π —Å—Ç–∞–Ω –æ—Å—Ç–∞–Ω–Ω—å–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç–∞:

,orderNumber,orderDate,status,productCode,quantityOrdered,priceEach,productName,quantityInStock
0,10434,2025-08-23,In Process,S12_1099,11,46.0,1968 Ford Mustang,57

üìà –Ü—Å—Ç–æ—Ä—ñ—è –æ—Å—Ç–∞–Ω–Ω—ñ—Ö –∑–∞–º–æ–≤–ª–µ–Ω—å –∫–ª—ñ—î–Ω—Ç–∞:

   orderNumber   orderDate productCode  quantityOrdered  priceEach
0        10434  2025-08-23    S12_1099               11      46.00
1        10421  2005-05-29    S18_2795               35     167.06
2        10421  2005-05-29    S24_2022               40      44.80
3        10396  2005-03-23    S12_3891               33     155.72
4        10396  2005-03-23    S18_3140               33     129.76
5        10396  2005-03-23    S18_3259               24      91.76